* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    /* background: #ffffff url('https://res.cloudinary.com/rdelk/image/upload/v1528058711/FEND%20-%20Project%202/geometry2.png') */
    background-color: cornflowerblue;
}

h1{
color: white;
text-align: center;
}

.topTools{
    display: flex;
    justify-content: space-evenly;  
    margin: 20px 0 10px 0;

}

.topTools .time {
    font-weight: 200;
    font-size: 25px;
    color: white;
}

.topTools img {
    width: 20px;
    height: 20px;
}

.memory-game{
    /* border: 2px solid green; */
    width: 550px;
    margin: auto;
    height:550px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card{
    margin: 5px;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d; 
    transition: transform .5s;  /* dönme efekti verir*/
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    /* border: 2px solid deeppink; */
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    backface-visibility: hidden;
    border-radius: 5px;
    background-color: blue;
}

.front-face {
    transform: rotateY(180deg);
}

img {
    width: 100px;
}


/*for congrats section  */
  

.hidden{
     display: none !important;
 }

.show {
    display: block;
}

#congratsSection {
position: fixed;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.5);
width: 100%;
height: 100vh;
top:0;
left: 0;
 }

#congratsDiv {
     width: 300px;
     background: white;
     color: #6186aa;
     padding: 20px 0 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 5px;
 }

 #congratsDiv h2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
 }

.final {
  font-weight: bold;
  letter-spacing: 2px;
  margin: auto;
  padding: 10px 20px;
}

.again {
  color: #6186aa;
  text-decoration: none;
  margin: auto;
  padding: 10px 20px;
  width: 160px;
  border: solid 1px;
  border-radius: 5px;
}

.again:hover {
  background: #6186aa;
    background-image: linear-gradient(to top left, #9b59b6, #1abc9c);
  background-size: 250%;
  color: white;
  cursor: pointer;
}