* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: rebeccapurple;
}

h1{
color: white;
text-align: center;
}

.topTools{
    display: flex;
    justify-content: space-evenly;  
    margin: 20px 0 10px 0;

}


.topTools .time {
    font-weight: 200;
    font-size: 25px;
    color: white;
}

.topTools img {
    width: 20px;
    height: 20px;

}


.memory-game{
    border: 2px solid green;
    width: 550px;
    margin: auto;
    height:550px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card{
    margin: 5px;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d; 
    transition: transform .5s;  /* dönme efekti verir*/
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    border: 2px solid deeppink;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    backface-visibility: hidden;
    border-radius: 5px;
    background-color: blue;
}

.front-face {
    transform: rotateY(180deg);
}

img {
    width: 100px;
}